@charset "utf-8";

:root {
    --giallochiaro: #FFDA00;
    --gialloscuro: #FFC200;
    --grigio: #454545;
    --nero: #1D1D1D;
    --bianco: #FFFCF5;
}

* {
    box-sizing: border-box;
}


/* GENERAL */
#heading {
    font-size: 36pt;
}

body {
    font-family: "Myriad Pro", "Helvetica", "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
    margin: 0 auto;
    background-image: url("immagini/Texture_carta.png");
    background-size: cover;
    text-align: center;
    color: var(--nero);
    padding: 5em 5%;
}

/* HOMEPAGE */
#header-logo {
    width: 20em;
    margin-bottom: 3em;
}

p#about {
    text-align: center;
    font-size: 1.2em;
    color: var(--nero);
}

#tasto-entra {
    
}


/* CARATTERE */
#text-box-carattere {
    margin: 0 auto;
    border: 2px;
    border-color: var(--nero);
    width: 700px;
    background: transparent;
    text-align: center;
}
           
#text-content-carattere {
    font-size: 18pt;
    padding: 25px;
    position: relative;
    line-height: 1.5;
}
           
#range1-carattere, #range2-carattere, #range3-carattere {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
           
#label1-carattere {
    position: relative;
    left: -178px;
}
           
#label2-carattere {
    position: relative;
    left: -8px;
}
           
#label3-carattere {
    position: relative;
    left: 168px;
}
           
.range-carattere {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;  
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
           
.range-carattere:hover {
    background:#CACACA;
}

 .range-carattere::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #757575;
    background: #FFE000;
    cursor: pointer;
}

 .range-carattere::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #404040;
    background: #FFE000;
    cursor: pointer;
}


/* CONTRASTO */
#text-box-contrasto {               
    border: 2px;
    background-color: hsla(0,0%,100%,1.00);
    width: 50%;
}

#text-content-contrasto {
    font-size: 28pt;
    padding: 25px;
    position: relative;
    color: hsla(0,0%,0%,1.00);
}

#range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#label1-contrasto {
    position: relative;
    left: 15px;
    margin-right: 15px;
}

#label3-contrasto {
    position: relative;
    left: -116px;
}

#label4-contrasto {
    position: relative;
    left: 51px;
}

#label5-contrasto {
    position: relative;
    left: 207px;
}

.range-contrasto {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;  
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
 }

.range-contrasto:hover {
    background:#CACACA;
}
.range-contrasto::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #757575;
    background: #FFE000;
    cursor: pointer;
}
.range-contrasto::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #404040;
    background: #FFE000;
    cursor: pointer;
}
