@charset "utf-8";

:root {
  --giallochiaro: #FFDA00;
  --gialloscuro: #FFC200;
  --grigio: #454545;
  --nero: #1D1D1D;
  --bianco: #FFFCF5;
}
* {
    box-sizing: border-box;
}




/* GENERAL */
#heading {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

html {
    background-image: linear-gradient(to top, var(--grigio) , var(--nero));
}

body {
    font-family: "Myriad Pro", "Helvetica", "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
    margin: 0 auto;
    text-align: center;
    color: var(--bianco);
}

button {
    background-image: linear-gradient(to right, var(--giallochiaro) , var(--gialloscuro));
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 0 1px var(--grigio);
    font-size: 16pt;
    font-weight: 600;
    color: var(--nero);
    padding: 15px 30px;
}

.icone-giochi-interni {
    width: 20%;
    margin: 2em;
}

.titolo-gioco-interno {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    color: var(--bianco);
}

hr {
    width: 35%;
    color: var(--bianco);
    margin-top: 2.5em;
}

.range-contenitore {
    margin: 2em auto;
}

.confirm-button {
    margin: 2em auto;
}

a:link {
    text-decoration: none;
    color: var(--bianco);
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: var(--bianco);
}

a:hover {
    text-decoration: none;
    color: var(--giallochiaro);
}




/* HOMEPAGE */
#header-logo {
    width: 40em;
    padding: 5em 5%;
    margin-bottom: auto auto;
}

#header-logo-ext {
    padding: 0 30px;
    width: 30em;
}

p#about {
    text-align: center;
    font-size: 1.2em;
    color: var(--bianco);
}

#tasto-entra {
    margin-top: 30px;  
}

nav ul {
    margin: 0 30px;
}

nav li {
    list-style: none;
    margin: 0 auto;
    padding: 0 30px;
    display: inline;
    color: var(--bianco);
    font-size: 20pt;
}
		
nav li:hover {
    color: var(--gialloscuro);
}

#homemenu {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: rgba(18,18,18,0.80);
}

#navbar {
    display:flex;
    justify-content: space-between;
}

.contenitore {    
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-giochi-sx {    
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.card-giochi-dx {    
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: right;
}

.titolo-gioco-sx {
    text-align: left;
    margin: 0;
    font-size: 2em;
}

.titolo-gioco-dx {
    text-align: right;
    margin: 0;
    font-size: 2em;
}

.testo-sx {
    text-align: left;
    font-size: 1.5em;
}

.testo-dx {
    text-align: right;
    font-size: 1.5em;
}

.icone-giochi {
    width: 35%;
    margin: 2em;
}




/* CARATTERE */
#text-box-carattere {
    margin: 0 auto;
    border: 2px;
    border-color: var(--giallochiaro);
    width: 700px;
    background: transparent;
    text-align: center;
}

#text-content-carattere {
    font-size: 18pt;
    padding: 25px;
    position: relative;
    line-height: 1.5;
}

#range1-carattere, #range2-carattere, #range3-carattere {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#label1-carattere {
    position: relative;
    left: -178px;
}

#label2-carattere {
    position: relative;
    left: -8px;
}

#label3-carattere {
    position: relative;
    left: 168px;
}

.range-carattere {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-carattere:hover {
    background: #CACACA;
}

.range-carattere::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #757575;
    background: #FFE000;
    cursor: pointer;
}

.range-carattere::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #404040;
    background: #FFE000;
    cursor: pointer;
}




/* CONTRASTO */
#text-box-contrasto {
    border: 2px;
    background-color: hsla(0, 0%, 100%, 1.00);
    width: 50%;
}

#text-content-contrasto {
    font-size: 28pt;
    padding: 25px;
    position: relative;
    color: hsla(0, 0%, 0%, 1.00);
}

#range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#label1-contrasto {
    position: relative;
    left: 15px;
    margin-right: 15px;
}

#label3-contrasto {
    position: relative;
    left: -116px;
}

#label4-contrasto {
    position: relative;
    left: 51px;
}

#label5-contrasto {
    position: relative;
    left: 207px;
}

.range-contrasto {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-contrasto:hover {
    background: #CACACA;
}

.range-contrasto::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

.range-contrasto::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--nero);
    background: var(--giallochiaro);
    cursor: pointer;
}

  


/* LEGGIBILITA */
#text-box-leggibilita {               
     border: 2px;
     background-color: transparent;
     width: 40%;
     margin: 0 auto 3em auto;
}

#text-content-leggibilita {
     font-size: 28pt;
     padding: 25px;
     position: relative;
     color: var(--nero);
}

.label-leggibilita {
     font-size: 22px;
     font-weight: 500;
     margin: 20px 20px;
}

/* The container */
.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin: 0 20px 12px 20px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #E3E3E3;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #CACACA;
}

/* When the radio button is checked, add a yellow background */
.container input:checked ~ .checkmark {
    box-shadow: 0 0 0 1px #404040;
    background-color: #FFE000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}




/* KERNING */
.minimum {
    font-size: 218.5px;
    position: relative;
}

#letter-m1, #letter-i1, #letter-n, #letter-i2, #letter-m2, #letter-u, #letter-m3 {
    position: relative;
}

#minimum-result {
    position: relative;
    top: -258px;
    color: var(--giallochiaro);
    z-index: -1;
    visibility: hidden;
}

#range-i1, #range-n, #range-i2, #range-m2, #range-u {
    width: 100px;
    margin-left: 0 50px;
    position: relative;
    top: -210px;
}

.range-kerning {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-kerning:hover {
    background: #CACACA;
}

.range-kerning::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

.range-kerning::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

#range-contenitore-kerning {
    position: relative;
    top: -7.5em;
    margin-top: 5em;
    margin-bottom: 3em;
}

#kerning-confirm {
    position: relative;
    top: -300px;
}