@charset "utf-8";

:root {
  --giallochiaro: #FFDA00;
  --gialloscuro: #FFC200;
  --grigio: #454545;
  --nero: #1D1D1D;
  --bianco: #FFFCF5;
}
* {
    box-sizing: border-box;
}




/* GENERAL */
h3 {
    color: var(--gialloscuro);
    text-transform: uppercase;
}

#heading {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

html {
    background-image: linear-gradient(to right, var(--grigio) , var(--nero));
}

body {
    font-family: "Myriad Pro", "Helvetica", "Gill Sans", "Gill Sans MT", "Arial", sans-serif;
    margin: 0 auto;
    text-align: center;
    color: var(--bianco);
}

button {
    background-image: linear-gradient(to right, var(--giallochiaro) , var(--gialloscuro));
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 0 1px var(--grigio);
    font-size: 16pt;
    font-weight: 600;
    color: var(--nero);
    padding: 15px 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.icone-giochi-interni {
    width: 20%;
    margin: 2em;
}

.titolo-gioco-interno {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    color: var(--gialloscuro);
}

hr {
    width: 35%;
    color: var(--bianco);
    margin-top: 2.5em;
}

.range-contenitore {
    margin: 2em auto;
}

.confirm-button {
    margin: 2em auto;
}

a:link {
    text-decoration: none;
    color: var(--bianco);
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: var(--bianco);
}

a:hover {
    text-decoration: none;
    color: var(--giallochiaro);
    opacity: 0.9;
    transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

.icone-giochi:hover {
    opacity: 0.93;
    transition: 0.2s;
}

#footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(18,18,18,0.50);
    padding: 1em
}

#footer-navbar {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 2em;
    margin: 0 1em;
}


#footer-logo-ext {
    padding: 0 30px;
    width: 20em;
}

#rules {
    font-size: 1.5em;
    line-height: 1.5;
    max-width: 70%;
    margin: 0 auto;
    display: none;
}

#construction-page-ill {
    width: 60%;
    margin: 3em auto 2em auto;
}

#construction-page-text {
    font-size: 1.75em;
    text-transform: none;
    line-height: 1.5;
    font-weight: 400;
    max-width: 70%;
    margin: 1.25em auto 0 auto;
}


    


/* HOMEPAGE */
#video-homepage {
    width: 70%;
    margin: 2.5em auto 1em auto;
    border-radius: 5em;
}

h2 {
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 600;
    max-width: 70%;
    margin: 1.25em auto 0 auto;
}

.highlight {
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    color: var(--gialloscuro)
}

#header-logo {
    width: 40em;
    padding: 5em 5%;
    margin-bottom: auto auto;
}

#header-logo-ext {
    padding: 0 30px;
    width: 30em;
}

p#about {
    text-align: center;
    font-size: 1.2em;
    color: var(--bianco);
}

#tasto-entra {
    margin-top: 30px;
    
}

nav ul {
    margin: 0 30px;
}

nav li {
    list-style: none;
    margin: 0 auto;
    padding: 0 30px;
    display: inline;
    color: var(--bianco);
    font-size: 20pt;
}
		
nav li:hover {
    color: var(--gialloscuro);
}

#homemenu {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: rgba(18,18,18,0.50);
}

#navbar {
    display:flex;
    justify-content: space-between;
}

.contenitore {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenitore-reverse {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-giochi-sx {    
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.card-giochi-dx {    
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
}

.titolo-gioco-sx {
    text-align: left;
    margin: 0;
    font-size: 2em;
}

.titolo-gioco-dx {
    text-align: right;
    margin: 0;
    font-size: 2em;
}

.testo-sx {
    text-align: left;
    font-size: 1.5em;
}

.testo-dx {
    text-align: right;
    font-size: 1.5em;
}

.icone-giochi {
    width: 50%;
    flex-basis: 70%;
    margin: 2em;
}

.img-contenitore-sx {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: left; 
}

.img-contenitore-dx {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left; 
}




/* ABOUT */
.illustrazione-about {
    width: 50%;
    flex-basis: 70%;
    margin: 2em;
}



/* CARATTERE */
#text-box-carattere {
    margin: 0 auto;
    border: 2px;
    border-color: var(--giallochiaro);
    width: 700px;
    background: transparent;
    text-align: center;
}

#text-content-carattere {
    font-size: 18pt;
    padding: 25px;
    position: relative;
    line-height: 1.5;
}

#range1-carattere, #range2-carattere, #range3-carattere {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#label1-carattere {
    position: relative;
    left: -178px;
}

#label2-carattere {
    position: relative;
    left: -8px;
}

#label3-carattere {
    position: relative;
    left: 168px;
}

.range-carattere {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-carattere:hover {
    background: #CACACA;
}

.range-carattere::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #757575;
    background: #FFE000;
    cursor: pointer;
}

.range-carattere::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #404040;
    background: #FFE000;
    cursor: pointer;
}




/* CONTRASTO */
#text-box-contrasto {
    border: 2px;
    background-color: hsla(0, 0%, 100%, 1.00);
    width: 70%;
}

#text-content-contrasto {
    font-size: 30pt;
    line-height: 1.25;
    padding: 25px;
    position: relative;
    color: hsla(0, 0%, 0%, 1.00);
}

#range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#label1-contrasto {
    position: relative;
    left: 15px;
    margin-right: 15px;
}

#label3-contrasto {
    position: relative;
    left: -106px;
}

#label4-contrasto {
    position: relative;
    left: 51px;
}

#label5-contrasto {
    position: relative;
    left: 200px;
}

.range-contrasto {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-contrasto:hover {
    background: #CACACA;
}

.range-contrasto::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

.range-contrasto::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--nero);
    background: var(--giallochiaro);
    cursor: pointer;
}

  


/* LEGGIBILITA */
#text-box-leggibilita {               
     border: 2px;
     background-color: transparent;
     width: 50%;
     margin: 4.75em auto 2em auto;
}

#text-content-leggibilita {
     font-size: 28pt;
     padding: 25px;
     position: relative;
     color: var(--nero);
}

.label-leggibilita {
     font-size: 22px;
     font-weight: 500;
     margin: 20px 20px;
}

/* The container */
.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin: 0 20px 12px 20px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #E3E3E3;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #CACACA;
}

/* When the radio button is checked, add a yellow background */
.container input:checked ~ .checkmark {
    box-shadow: 0 0 0 1px #404040;
    background-color: #FFE000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}




/* KERNING */
.minimum {
    font-size: 218.5px;
    position: relative;
    width: 50%;
    margin: 0 auto;
}

#letter-m1, #letter-i1, #letter-n, #letter-i2, #letter-m2, #letter-u, #letter-m3 {
    position: relative;
}

#minimum-result {
    position: relative;
    top: -258px;
    color: var(--gialloscuro);
    z-index: -1;
    visibility: hidden;
}

#range-i1, #range-n, #range-i2, #range-m2, #range-u {
    width: 100px;
    margin: 0 10px;
    position: relative;
    top: -210px;
}

.range-kerning {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #E3E3E3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range-kerning:hover {
    background: #CACACA;
}

.range-kerning::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

.range-kerning::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grigio);
    background: var(--giallochiaro);
    cursor: pointer;
}

#range-contenitore-kerning {
    position: relative;
    top: -7.5em;
    margin-top: 5em;
    margin-bottom: 3em;
}

.kerning-confirm {
    position: relative;
    top: -300px;
}

#kerning-rules {
    font-size: 1.5em;
    line-height: 1.5;
    max-width: 70%;
    margin: 0 auto -250px auto;
    display: none;
    position: relative;
    top: -270px;
}



/* RIVISTA */
#rivista-epub {
    width: 80em;
    height: 48em;
    margin: 3em auto 1em auto;
    border: 0.5em solid var(--bianco);
    border-radius: 2em;
}

/* width 
::-webkit-scrollbar {
  width: 20px;
} */

/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
} */

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */



/* MEDIA QUERY */
@media screen and (min-width: 1025px) and (max-width: 1420px) {
    h2 {font-size: 1.5em;}
    #freccia-giu {width: 2.25em;}
    
    .titolo-gioco-dx, .titolo-gioco-sx {font-size: 1.5em;}
    .testo-dx, .testo-sx {font-size: 1.05em;}
    .contenitore, .contenitore-reverse {margin: 1em;}
    hr {margin-top: 1em; width: 70%}
    #header-logo-ext {padding: 0 20px; width: 25em;}
    nav li {font-size: 18pt;}
    
    #label5-contrasto {left: 140px;}
    #text-content-contrasto {font-size: 24pt; line-height: 1.35;}
    table#text-box-contrasto {width: 70%;}
    
    .minimum {width: 50%; margin-bottom: 60px; font-size: 180px;}
    #minimum-result {top: -273px;}
    
    #footer {padding: 0.75em;}
    #copyright {font-size: 1em;}
    #footer-navbar {justify-content: center; margin-left: -3.5em;}
    
    #rivista-epub {width: 50em; height: 30em; margin: 2.5em auto 0.5em auto;}
    #construction-page-text {font-size: 1.5em;}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h2 {font-size: 1.5em;}
    #freccia-giu {width: 1.75em;}
    
    .titolo-gioco-dx, .titolo-gioco-sx {font-size: 1.2em;}
    .testo-dx, .testo-sx {font-size: 0.75em;}
    .contenitore, .contenitore-reverse {margin: 1em;}
    hr {margin-top: 1em; width: 60%}
    #header-logo-ext {padding: 0 10px; width: 16em;}
    nav li {font-size: 14pt; padding: 0 20px;}
    #header-logo {width: 35em;}
    
    #heading {font-size: 1.5em; max-width: 90%; margin: 1em auto;}    
    .confirm-button {margin: 1.25em auto;}
    
    #range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {margin-left: 20px; margin-right: 20px;}
    #label3-contrasto {left: -50px;}
    #label5-contrasto {left: 140px;}
    td#text-content-contrasto {font-size: 20pt; line-height: 1.5;}
    table#text-box-contrasto {width: 80%;}
    
    .container {font-size: 1.1em; margin: 0 10px 12px 10px;}
    .label-leggibilita {font-size: 1.1em;}
    
    .minimum {width: 50%; margin-bottom: 60px; font-size: 160px;}
    #minimum-result {top: -250px;}
    #range-i1, #range-n, #range-i2, #range-m2, #range-u { width: 80px; margin: 15px 5px 0 5px;}
    
    #footer {flex-direction: column; padding: 0.75em;}
    #copyright {font-size: 1.25em; margin-bottom: 2em;}
    #footer-navbar {justify-content: center;}
    
    #rivista-epub {width: 42em; height: 24em; margin: 2em auto 0.75em auto;}
    #construction-page-text {font-size: 1.5em;}
    
    .confirm-button {font-size: 1.25em; margin-bottom: 2em;}
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    h2 {font-size: 1.1em;}
    #freccia-giu {width: 1.75em;}
    
    .titolo-gioco-dx, .titolo-gioco-sx, .testo-dx, .testo-sx {text-align: center;}
    .titolo-gioco-dx, .titolo-gioco-sx {font-size: 1.25em;}
    .testo-dx, .testo-sx {font-size: 1em;}
    .card-giochi-dx, .card-giochi-sx {flex-direction: column;}
    .card-giochi-dx, .card-giochi-sx, .img-contenitore-dx, .img-contenitore-sx {justify-content: center;}
    .contenitore {margin: 1em; flex-direction: column; justify-content: center;}
    .contenitore-reverse {flex-direction: column-reverse;}
    hr {margin-top: 1em; width: 70%}
    #header-logo-ext {padding: 0 10px; width: 16em;}
    nav li {font-size: 14pt; padding: 0 20px;}
    nav ul {padding: 0;}
    #homemenu {flex-direction: column; padding: 1em;}
    #navbar {margin-top: 0.5em;}
    #header-logo {width: 30em;}
    
    #heading {font-size: 1.25em; max-width: 90%; margin: 1em auto;}    
    .confirm-button {margin: 1em auto;}
    
    #text-box-carattere {width: 90%;}
    #range1-carattere, #range2-carattere, #range3-carattere {margin-left: 15px; margin-right: 15px;}
    .range-carattere {width: 25%;}
    #label1-carattere {left: -100px;}
    #label3-carattere {left: 90px;}
    
    #range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {margin-left: 15px; margin-right: 15px;}
    .range-contrasto {width: 20%;}
    #label3-contrasto {left: -15px;}
    #label5-contrasto {left: 100px;}
    td#text-content-contrasto {font-size: 14pt; line-height: 1.5;}
    #text-box-contrasto {width: 90%;}
    
    .container {font-size: 0.8em; margin: 0 0.5px 12px 0.5px;}
    .label-leggibilita {font-size: 1em; margin-left: 1px; margin-right: 5px;}
    .checkmark {margin-left: 10px; top: -3.5px;}
    #text-content-leggibilita {font-size: 24pt; line-height: 1.5;}
    #text-box-leggibilita {width: 90%; margin-top: 55px;}
    
    .minimum {width: 50%; margin-top: 50px; margin-bottom: 80px; font-size: 100px;}
    #minimum-result {top: -201px;}
    #range-i1, #range-n, #range-i2, #range-m2, #range-u { width: 60px; height: 10px; margin: 70px 2px 0 2px;}
    
    #footer {flex-direction: column;}
    #copyright {font-size: 1em; margin-bottom: 2em;}
    #footer-navbar {justify-content: center;}
    
    #rivista-epub {width: 28em; height: 18em; margin: 2em auto 0.75em auto;}
    #construction-page-text {font-size: 1.1em;}
    
    .confirm-button {font-size: 1em; margin-bottom: 2em;}
}

@media screen and (max-width: 500px) {
    h2 {font-size: 0.8em;}
    #freccia-giu {width: 1.5em;}
    
    .titolo-gioco-dx, .titolo-gioco-sx, .testo-dx, .testo-sx {text-align: center;}
    .titolo-gioco-dx, .titolo-gioco-sx {font-size: 1.25em;}
    .testo-dx, .testo-sx {font-size: 1em;}
    .card-giochi-dx, .card-giochi-sx {flex-direction: column;}
    .card-giochi-dx, .card-giochi-sx, .img-contenitore-dx, .img-contenitore-sx {justify-content: center;}
    .contenitore {margin: 1em; flex-direction: column; justify-content: center;}
    .contenitore-reverse {flex-direction: column-reverse;}
    hr {margin-top: 1em;}
    #header-logo-ext {padding: 0 10px; width: 14em;}
    nav li {font-size: 14pt; padding: 0 10px;}
    nav ul {padding: 0;}
    #homemenu {flex-direction: column; padding: 1em;}
    #navbar {margin-top: 0.5em;}
    #header-logo {width: 20em;}
    #about {font-size: 1em;}
    button {font-size: 12pt;}
    .icone-giochi {width: 200px;}
    
    .titolo-gioco-interno {font-size: 1.2em;}
    #heading {font-size: 1.1em; max-width: 90%; margin: 1em auto;}
    .confirm-button {margin: 1em auto;}
    
    #text-box-carattere {width: 90%;}
    #text-content-carattere {font-size: 1.2em}
    #range1-carattere, #range2-carattere, #range3-carattere {margin-left: 15px; margin-right: 15px;}
    .range-carattere {width: 20%;}
    #label1-carattere {left: -50px;}
    #label3-carattere {left: 35px;}
    
    #range1-contrasto, #range2-contrasto, #range3-contrasto, #range4-contrasto, #range5-contrasto, #range6-contrasto {margin-left: 5px; margin-right: 5px; margin-top: 12px;}
    .range-contrasto {width: 20%;}
    #label3-contrasto {left: 30px;}
    #label5-contrasto {left: 60px;}
    #text-content-contrasto {font-size: 10pt;}
    td#text-content-contrasto {font-size: 10pt; line-height: 2;}
    table#text-box-contrasto {width: 90%; margin-top: 2em;}
    
    .container {font-size: 0.5em; margin: 0 0.5px 6px 0.5px;}
    .label-leggibilita {font-size: 0.5em; margin-left: 0; margin-right: 1px;}
    .checkmark {width: 15px; height: 15px; margin-left: 15px; top: -1.5px;}
    #text-content-leggibilita {font-size: 16pt; line-height: 1.5;}
    #text-box-leggibilita {width: 90%; margin-top: 0; margin-bottom: 15px;}
    
    .minimum {width: 50%; margin-top: 50px; margin-bottom: 80px; font-size: 70px;}
    #minimum-result {top: -166px;}
    #range-i1, #range-n, #range-i2, #range-m2, #range-u { width: 60px; height: 8px; margin: 90px 2px 0 2px;}
    
    #footer {flex-direction: column;}
    #copyright {font-size: 0.8em; margin-bottom: 2em;}
    #footer-navbar {justify-content: center;}
    
    #rivista-epub {width: 18em; height: 12em; margin: 2em auto 1.5em auto;}
    #construction-page-text {font-size: 0.8em;}
    
    .confirm-button {font-size: 0.75em; margin-bottom: 3em; padding: 1em 1.75em}
}